.footer {
  background: #111;
  color: #ccc;
  padding: 40px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer h2.logo {
  font-size: 22px;
     color: #fff;
}

.footer h2 span {
  color: #ff6600;
}

.footer h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer a {
  color: #ccc;
    text-decoration: none;
}

.footer a:hover {
  color: #ff6600;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}

.social-icons a:hover {
  color: #ff6600;
}

.footer-bottom {
  border-top: 1px solid #333;
    margin-top: 30px;
  padding: 21px 15%;
    
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}
