.section-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.section-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle-icon {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: orange;
}

.circle-icon::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
}

.section-heading h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.services {
  padding: 80px 10%;
  text-align: center;
  background: #fff;
}

.section-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4,4fr);
  gap: 20px;
}

.service-card {
  background: #fff;
  border: 1px solid #eee;
  padding: 30px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.service-card:hover {
  background-color: #FFF5EF;
  transform: translateY(-5px);
}

.service-card .icon {
  font-size: 32px;
  color: #ff6600;
  margin-bottom: 15px;
}